/backend/__pycache__
backend/.env

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
backend/.env
backend/__pycache__/app.cpython-38.pyc
backend/calibration_request.json
capstone-ecgapp/.env
backend/.env
capstone-ecgapp/.env
backend/calibration_request.json
/backend/.venv
/backend/tests/__pycache__
backend/tests/__pycache__/test_imports.cpython-312-pytest-9.0.2.pyc
calibration_mv.csv
window1_mv.csv
window2_mv.csv
window3_mv.csv
calibration_mv.csv
calibration_mv.csv
buffer.txt
calibration_mv.csv
channels_volts.csv
ecg-review-web/.env
